<!doctype html>
<html lang="en">

<head>
    <title>Projeto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69642813c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body class="bgc-cinza">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="./"><img src="./assets/images/logo-white.svg" alt=""></a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
        </div>
    </nav>
    <section class="bgc-azul py-5">
        <div class="container pt-5">
            <div class="row pb-5">
                <div class="col-12 pb-5">
                    <h2 class="bold c-white">
                        Encontramos 4 <br> seguradoras
                    </h2>
                    <p class="c-white">
                        Essa parte é muito importante. Leia os <br> benefícios de cada seguradora atentamente e <br> encontre a perfeita para você e seu pet!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="cards">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card-protecao">
                        <img src="./assets/images/logo.svg" alt="" align="left">
                        <span class="bgc-rosa c-roxo">Anual</span>
                        <br> <br>
                        <h3 class="c-black">
                            Proteção Mais Pet
                        </h3>
                        <p>
                            Com o Proteção Mais Pet, você terá coberturas exclusivas e ainda assistências especiais para os seus bichinhos.
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Ao contratar o seguro Proteção Mais Pet, o segurado conta com a Assistência Pet, que oferece serviços como envio de ração ao domicílio, indicação de clínicas veterinárias, indicação de pet shops e outros benefícios para cuidar da saúde e bem-estar do
                                seu animal de estimação. Além desta assistência, o seguro conta com acesso à Rede de Descontos MetLife
                                <h3 class="c-black mt-3">
                                    Benefícios
                                </h3>
                                <ul>
                                    <li>Consultas gratuitas</li>
                                    <li>Envio de ração ao domicílio</li>
                                    <li>Rede de Descontos MetLife</li>
                                    <li>Participa mensalmente de um sorteio de R$ 30 mil pela Loteria Federal.</li>
                                </ul>
                                <center>
                                    <h2 class="c-azul mt-3"> R$100,00</h2>
                                    <legend>Por ano</legend>
                                </center>
                                <center><a href="./checkout.html"><button type="button" class="btn btn-primary">Contratar</button></a>
                                    <center>

                            </div>
                        </div>
                        <a href="#" class="bold c-azul maismenos" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
                    </div>
                    <div class="card-protecao mt-3">
                        <img src="./assets/images/logo.svg" alt="" align="left">
                        <span class="bgc-azul c-white">Mensal</span>
                        <br> <br>
                        <h3 class="c-black">
                            Proteção Mais Pet
                        </h3>
                        <p>
                            Com o Proteção Mais Pet, você terá coberturas exclusivas e ainda assistências especiais para os seus bichinhos.
                        </p>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                Ao contratar o seguro Proteção Mais Pet, o segurado conta com a Assistência Pet, que oferece serviços como envio de ração ao domicílio, indicação de clínicas veterinárias, indicação de pet shops e outros benefícios para cuidar da saúde e bem-estar do
                                seu animal de estimação. Além desta assistência, o seguro conta com acesso à Rede de Descontos MetLife
                                <h3 class="c-black mt-3">
                                    Benefícios
                                </h3>
                                <ul>
                                    <li>Consultas gratuitas</li>
                                    <li>Envio de ração ao domicílio</li>
                                    <li>Rede de Descontos MetLife</li>
                                    <li>Participa mensalmente de um sorteio de R$ 30 mil pela Loteria Federal.</li>
                                </ul>

                                <center>
                                    <h2 class="c-azul mt-3"> R$100,00</h2>
                                    <legend>Por ano</legend>
                                </center>
                                <center><a href="./checkout.html"><button type="button" class="btn btn-primary">Contratar</button></a>
                                    <center>
                            </div>
                        </div>
                        <a href="#" class="bold c-azul maismenos" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Ver mais</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card-protecao mt-3 mt-sm-0">
                        <img src="./assets/images/logo.svg" alt="" align="left">
                        <span class="bgc-rosa c-roxo">Anual</span>
                        <br> <br>
                        <h3 class="c-black">
                            Proteção Mais Pet
                        </h3>
                        <p>
                            Com o Proteção Mais Pet, você terá coberturas exclusivas e ainda assistências especiais para os seus bichinhos.
                        </p>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body">
                                Ao contratar o seguro Proteção Mais Pet, o segurado conta com a Assistência Pet, que oferece serviços como envio de ração ao domicílio, indicação de clínicas veterinárias, indicação de pet shops e outros benefícios para cuidar da saúde e bem-estar do
                                seu animal de estimação. Além desta assistência, o seguro conta com acesso à Rede de Descontos MetLife
                                <h3 class="c-black mt-3">
                                    Benefícios
                                </h3>
                                <ul>
                                    <li>Consultas gratuitas</li>
                                    <li>Envio de ração ao domicílio</li>
                                    <li>Rede de Descontos MetLife</li>
                                    <li>Participa mensalmente de um sorteio de R$ 30 mil pela Loteria Federal.</li>
                                </ul>

                                <center>
                                    <h2 class="c-azul mt-3"> R$100,00</h2>
                                    <legend>Por ano</legend>
                                </center>
                                <center><a href="./checkout.html"><button type="button" class="btn btn-primary">Contratar</button></a>
                                    <center>
                            </div>
                        </div>
                        <a href="#" class="bold c-azul maismenos" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Ver mais</a>
                    </div>
                    <div class="card-protecao mt-3">
                        <img src="./assets/images/logo.svg" alt="" align="left">
                        <span class="bgc-azul c-white">Mensal</span>
                        <br> <br>
                        <h3 class="c-black">
                            Proteção Mais Pet
                        </h3>
                        <p>
                            Com o Proteção Mais Pet, você terá coberturas exclusivas e ainda assistências especiais para os seus bichinhos.
                        </p>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                Ao contratar o seguro Proteção Mais Pet, o segurado conta com a Assistência Pet, que oferece serviços como envio de ração ao domicílio, indicação de clínicas veterinárias, indicação de pet shops e outros benefícios para cuidar da saúde e bem-estar do
                                seu animal de estimação. Além desta assistência, o seguro conta com acesso à Rede de Descontos MetLife
                                <h3 class="c-black mt-3">
                                    Benefícios
                                </h3>
                                <ul>
                                    <li>Consultas gratuitas</li>
                                    <li>Envio de ração ao domicílio</li>
                                    <li>Rede de Descontos MetLife</li>
                                    <li>Participa mensalmente de um sorteio de R$ 30 mil pela Loteria Federal.</li>
                                </ul>

                                <center>
                                    <h2 class="c-azul mt-3"> R$100,00</h2>
                                    <legend>Por ano</legend>
                                </center>
                                <center><a href="./checkout.html"><button type="button" class="btn btn-primary">Contratar</button></a>
                                    <center>
                            </div>
                        </div>
                        <a href="#" class="bold c-azul maismenos" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mais" class="bgc-red py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="c-roxo">
                        Quer cobrir mais <br> coisas no seguro?
                    </h2>
                    <button type="button" class="btn btn-primary bgc-azul c-red mt-2">Fazer uma nova cotação</button>
                </div>
            </div>
        </div>
    </section>
    <section id="faq" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="c-azul mb-5">
                        Perguntas frequentes
                    </h2>
                </div>

                <div class="col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Quais são as principais indicações?
                              </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    As principais indicações são a involução cutânea, que é o envelhecimento da pele, com rugas e manchas senis, as sequelas cicatriciais de acne, o melasma e o vitiligo facial, onde eu acredito ser o tratamento mais eficaz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Quais são as principais indicações?
                              </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    As principais indicações são a involução cutânea, que é o envelhecimento da pele, com rugas e manchas senis, as sequelas cicatriciais de acne, o melasma e o vitiligo facial, onde eu acredito ser o tratamento mais eficaz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Quais são as principais indicações?
                              </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    As principais indicações são a involução cutânea, que é o envelhecimento da pele, com rugas e manchas senis, as sequelas cicatriciais de acne, o melasma e o vitiligo facial, onde eu acredito ser o tratamento mais eficaz.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bgc-azul py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="./assets/images/logo-white.svg" alt="" class="mb-5">
                    <br>
                    <a href="./resgatar.html" class="c-white d-block mb-2">Resgatar um código</a>
                    <a href="#" class="c-white d-block mb-2">Fazer uma cotação</a>
                    <a href="#" class="c-white d-block mb-2">Quem somos</a>
                    <a href="#" class="c-white d-block mb-2">Nossos beneficios</a>
                    <img src="./assets/images/footer.svg" alt="" class="mt-5">
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./assets/js/main.js?500"></script>
</body>

</html>