$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
//FONTE
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap');
$transition: .35s ease-in-out;
$azul: #3703A5;
$red: #FBE3B9;
$secondary: #FF2121;
$white: #FFFFFF;
$rosa: #EAB9FB;
$black: #000;
$roxo: #623373;
$cinza: #EFEEEE;
$roxinho: #AB95D9;