<!doctype html>
<html lang="en">

<head>
    <title>Projeto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69642813c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <header id="header" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="./assets/images/image-1.svg" alt="" class="img-fluid">
                    <h1 class="c-azul mt-3">
                        Resgatar código
                    </h1>
                    <p>
                        Escreva o código que está atras do seu <br> SecureCard.
                    </p>
                    <input type="text" class="code">
                    <input type="text" class="code">
                    <input type="text" class="code">
                    <input type="text" class="code">
                    <br>
                    <a href="#one" class="btn btn-primary">Próximo</a>
                    <legend class="c-blue mt-5">Não encontrou o código?</legend>
                </div>
            </div>
        </div>
    </header>
    <section id="one" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="./assets/images/image-2.svg" alt="" class="img-fluid">
                    <h1 class="c-azul mt-3">
                        Rever detalhes do cartão
                    </h1>
                    <p>
                        Você resgatou o cartão <b>Premium</b> <br> no valor de <b>R$60,00</b>
                    </p>
                    <br>
                    <a href="#two" class="btn btn-primary">Próximo</a>
                    <a href="#header">
                        <legend class="c-secondary mt-5">As informações estão erradas?</legend>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="./assets/images/image-3.svg" alt="" class="img-fluid">
                    <h1 class="c-azul mt-3">
                        Seus dados
                    </h1>
                    <p>
                        Para continuar a validação do seu seguro, <br> preencha os campos a seguir
                    </p>
                    <br>
                    <input type="text" value="" placeholder="Nome">
                    <input type="text" value="" placeholder="E-mail">
                    <input type="text" value="" placeholder="CPF">
                    <input type="text" value="" placeholder="Celular">
                    <input type="text" value="" placeholder="CEP">
                    <a href="#three" class="btn btn-primary mt-3 loading">Próximo</a>
                </div>
            </div>
        </div>
    </section>
    <section id="three" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="./assets/images/image-4.svg" alt="" class="img-fluid">
                    <h1 class="c-azul mt-3">
                        Dados do Pet
                    </h1>
                    <p>
                        Agora, nós precisamos de algumas <br> informações sobre o seu pet
                    </p>
                    <br>
                    <input type="text" value="" placeholder="Nome">
                    <input type="text" value="" placeholder="Idade">
                    <input type="text" value="" placeholder="Espécie">
                    <br><br>
                    <p>
                        <div class="form-check d-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
                            <label class="form-check-label ml-5" for="inlineRadio1">Fêmea</label>
                        </div>
                        <div class="form-check d-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
                            <label class="form-check-label ml-5" for="inlineRadio2">Macho</label>
                        </div>
                    </p>
                    <a href="#four" class="btn btn-primary mt-3 loading">Próximo</a>
                </div>
            </div>
        </div>
    </section>
    <section id="four" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="c-azul mt-5 mb-5">
                        <i class="fas fa-spinner fa-spin"></i>
                    </h1>
                    <p>
                        Estamos separando as melhores <br> seguradoras para você
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./assets/js/main.js?500"></script>
</body>

</html>